@import "tailwindcss";

@theme inline {
  --color-primary-bg: #0D0D0D;
  --color-accent-gold: #C9A84C;
  --color-deep-red: #8B1A1A;
  --color-background: var(--color-primary-bg);
  --color-foreground: #ededed;
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
}

:root {
  color-scheme: dark;
  /* Plyr Theme Overrides to match Accent Gold */
  --plyr-color-main: #C9A84C;
  --plyr-video-background: #000000;
  --plyr-font-family: var(--font-sans);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}
